.community-grid{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.community-card{
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
  }
  
  .community-card:hover {
    transform: scale(1.02);
  }